#editor {
  padding: 1em;
}

#scene {
  padding: 1em;
  background-color: black;
  color: white;
}

#scene img {
  width: 100%;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
}
